<%- include('./includes/header.ejs') %>

    <%- include('./includes/navigation.ejs') %>

    <table class="w-full bg-black text-white border-2 border-black">
        <thead>
            <tr class="border-2 border-white">
                <th class="border-2 border-white">Category name</th>
                <th class="border-2 border-white">Actions</th>
            </tr>
        </thead>
        <tbody class="w-full">
            <% if (categories.length > 0) { %>
                <% for (category of categories) { %>
                    <tr class="text-center border-2 border-white">
                        <td class="w-1/2"><%= category.name %></td>
                        <td class="w-1/2">
                            <form action="/adminstrator/delete-category" method="post">
                                <input type="hidden" name="categoryId" value="<%= category._id %>">
                                <button type="submit">Delete</button>
                            </form>    
                        </td>
                    </tr>
                <% } %>
                <% } %>
        </tbody>
    </table>



    <%- include('./includes/end.ejs') %>